html,body
{
    position: relative;
    height: 100%;
    width: 100%;
}
.wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 1148px;
    MIN-height: 100%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-image: url(../images/bb.jpg);
    background-position: top;
    background-repeat: no-repeat;
    
    
}
.in
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1194px;
}


header
{
    width: 100%;
    height: 105px;
    border-top: 1px solid #161f32;
}
.logo
{
    float: left;
    margin-top: 34px;
    margin-left: 9px;
}
.landing_info
{
    background-color: #546279;
    width: 100%;
    padding-top: 170px;
    padding-bottom: 170px;
}
.info
{
    padding-top: 39px;
    background-color: #222c40;
    padding-bottom: 70px;
}
.line
{
    margin-left: 289px;
    margin-bottom: 24px;
}
.info .white_logo
{
    
    display: block;
    text-align: center;
    margin-bottom: 39px;
    
}
.info p
{
    font-family: 'Lato', sans-serif;
    font-size: 14px ;
    font-weight: 400;
    text-align: center;
    color: #a9abb0;
    width: 673px;
    margin-left: 238px;
    margin-bottom: 15px;
    line-height: 1.3;
}
.button
{
    height: 57px;
    width: 173px;
    border: 1px solid #fff;
    text-align: center;
    margin-left: 485px;
    box-sizing: border-box;
}
.button p
{
    color: #fff;
    font-weight: 400;
}
.button p:hover
{
    background-color: #00c7fc;
        border: 1px solid #fff;
}

.button a p
{
    text-align: center;
    margin-left: 0;
    width: 172px;
    height: 37px;
    padding-top: 17px;

}
.service
{
    
    width: 100%;
    padding-top: 59px;
    padding-bottom: 80px;
    background-color: #fff;
}
.main_heading
{
    color: #3d506f;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-top: -3px;
    text-transform: uppercase;
    
}
.second_heading
{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #7f90a5;
     margin-top: 18px;
    margin-left: -6px;
    font-size: 19px;
    
}
.grey_line
{
margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 25px;
}
.Under_line_text{
    text-align: center;
    font-weight: 400;
    color: #7f90a5;
     font-size: 16px;
    width: 790px;
    margin-left: 183px;
    margin-bottom: 69px;
}
.servic_small_block
{
    display: inline-block;
    width: 279px;
    text-align: center;
    margin-right: 20px;
    vertical-align: text-top;
}
.servic_small_block img
{
        margin-bottom: 23px;
    
    vertical-align: bottom;
}
.service_heading
{
        text-transform: uppercase;
    font-size: 20px;
    
    color: #3d506f;
    margin-bottom: 20px;
}
.service_main_text
{
    width: 282px;
    text-align: center;
    color:  #7f90a5;
 
}
.servic_small_block:last-child
{
    margin-right: -7px;
}

.just_block
{
    width: 100%;
    background-color: #1d263a;
    padding-bottom: 60px;
    padding-top: 69px;
}
.just_block p
{
    
    color: #ebebec;
    font-size: 25px;
    text-align: center;
    width: 843px;
    line-height: 1.2;
    margin-left: 176px;
   
}
.mn
{
    font-weight: 200;
}
.just_second
{

    color: #ebebec;
    padding-top: 34px;
    font-size: 16px;
    text-align: center;
    margin-left: 162px;
    font-weight: 400;
}
.title_and_menu
{
    padding-top: 57px;
    background-color: #fff;
    padding-bottom: 60px;
    
}
nav
{
    text-align: center;
    margin-bottom: 76px;
}
nav a
{
    font-size: 22px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 2px;
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #3d506f;
}
nav a:hover
{
    background-color: #00c7fc;
}
.image_frames
{
    margin-top: 75px;
    margin-bottom: 497px;
}
.image_frames .images
{
        width: 282px;
    height: 201px;
    margin-right: 14px;
    background-color: #546278;
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: text-top;
    
}
.images p
{
  text-align: center;
    
    color: transparent;
    font-weight: 700;
    text-transform: capitalize;
    width: 126px;
    font-size: 18px;
    margin-left: 83px;
    margin-top: 78px;
    line-height: 1.3;
}
.images p span
{
    font-weight: 200;
    font-size: 16px;
}
.images:hover
{
    background-color: #222c40;
}
.images:hover p
{
    color: #fff;
    
}
.main_heading img
{
    margin-left: 568px;
    margin-bottom: 64px;
    display: block;
}
.just_text
{
        text-align: center;
    margin-left: 242px;
    margin-top: 16px;
    width: 732px;
    margin-bottom: 65px;
    color: #7f90a5;
    font-weight: 400;
}
.we_love_our_work 
{
    background-color: #fff;
    padding-top: 2px;
}
.we_love_our_work .button
{
    background-color: #3d506f;
    margin-left: 510px;
}
.About_us
{
       padding-top: 68px;
    margin-bottom: 288px;
    background-color: #222c40;
    padding-bottom: 34px;
}
.About_us  .main_heading 
{
    color: #fff;
}
.About_us .second_heading
{
    color: #fff;
    margin-bottom: 23px;
    
}
.About_us .line
{
    margin-left: 312px;
    
}
.hmm 
{
        text-align: center;
    color: #fff;
    width: 887px;
    margin-left: 150px;
    font-weight: 400;
}
.team
{
    margin-top: 88px;
   
}
.team_people
{
    width: 214px;
    margin-left: 38px;
    height: 213px;
    margin-right: 38px;
    border-radius: 200px 200px 200px 200px;
    border: 3px solid #fff;
    display: inline-block;
    background-color: #161f32;
    /*vertical-align: text-bottom;*/
}
.team_people:hover
{
    background-image: url(../images/white_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.team p
{
  text-align: center;
    
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    width: 124px;
    font-size: 18px;
    margin-left: 47px;
    margin-top: 238px;
    line-height: 1.3;
    
}
.team p span
{
    font-weight: 200;
    font-size: 16px;
}
.skills
{
    margin-bottom: 371px;
    padding-top: 74px;
    -moz-padding-top: 66px;
}
html:root .skills
{
    padding-top: 66px;
}
.skills .second_heading
{
    font-size: 14px;
    color: #c3cad3;
    text-transform: none;
    text-transform: none;
    width: 784px;
    margin-left: 208px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 63px;
}
.our_company .button
{
     background-color: #3d506f;
    margin-left: 11px;
}
.our_company
{
    float: left;
    width: 589px;
}
.our_company:after
{
    display: block;
    content: " ";
    clear: both;
    
}
.our_company .second_oc
{
     margin-left: 11px;
      color: #7f90a5;
    margin-bottom: 26px;
}
.oc
{
    text-transform: capitalize;
     color: #3d506f;
    font-size: 27px;
    margin-left: 6px;
    margin-bottom: 19px;
}
.our_skills
{
    float: right;
    width: 601px;
}
.our_skills:after
{
     display: block;
    content: " ";
    clear: both;
}
.our_skills .oc
{
    margin-left: 14px;
}
.our_skills div
{
    background-color: #3d506f;
    height: 44px;
    margin-bottom: 7px;
    margin-left: 17px;
    
}
.our_skills div p
{
    color: #fff;
    padding-top: 14px;
    text-transform: capitalize;
    margin-left: 19px;
}
.html
{
    width: 510px;
    
}
.js
{
    width: 468px;
}
.gd
{
    width: 524px;
}
.phot
{
    width: 498px;
}
.info_numbers
{
    width: 100%;

    background-color: #222c40;
}
.blocknumber
{
PADDING-TOP: 60px;
    MARGIN-LEFT: 11px;
    display: inline-block;
    margin-right: 130px;
    padding-bottom: 62px;
}


.blocknumber span
{
    font-size: 40px;
}
.blocknumber p {
    width: 74px;
    display: inline-block;
    text-align: center;
    height: 47px;
    font-size: 19px;
    margin-left: 3px;
    color: #fff;
}
.blog
{
   padding-top: 70px; 
}
.blog .Under_line_text
{
    margin-bottom: 75px;
}
.blog1
{
    background-color: #546278;
    width: 574px;
    height: 301px;
       
    margin-left: 7px;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 27px;
}
.blog2 div
{
    float: right;
    background-color: #161f32;
    width: 286px;
    height: 302px;
}
.blog1 div
{
    float: right;
    background-color: #161f32;
    width: 286px;
    height: 302px;
}
.small_arrow
{
    margin-left: -16px;
    margin-top: 47px;
    position: absolute;
}
.second_blog
{
    color: #7f90a5;
}
.blog1 p
{
    
    margin-left: 22px;
    margin-bottom: 22px;
    margin-right: 14px;
    font-weight: 400;
    
}
.small_blog_text
{
    color: #fff;
}
.blog_heading
{
        margin-left: 29px;
    margin-top: 20px;
    color: #fff;
    font-size: 26px;
}
.second_blog
{
    color: #7f90a5;
}
.blog1:nth-child(3)  div
{
    background-color: #161f32;
    float: left;
    width: 775px;
}
.blog1:nth-child(4)
{
    height: 301px;
    margin-left: 215px;
    width: 369px;
    margin-right: 0;
}
.blog1:nth-child(4) div
{
     float: left;
    width: 369px;
    margin-top: 301px;
    height: 321px;
    padding-top: 10px;

}
.blog1:nth-child(4) .small_arrow
{
        margin-top: -26px;
    margin-left: 26px;
}

.blog1:nth-child(5) div
{
    width:  385px;
}
.blog1:nth-child(5)
{
    margin-left: 0;
    width: 385px;
}
.blog1:nth-child(6) div
{
    width:  385px;
}
.blog1:nth-child(6)
{
    margin-left: 0;
    width: 385px;
}
form
{
    padding-top: 12px;
    margin-left: 209px;
}
input
{
       height: 60px;
    background-color: #3d506f;
     border: none;
    color: #fff; 
}
.email
{
    width: 545px;
    margin-right: 24px;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 400;
}
.subscribe
{
        height: 66px;
    text-align: center;
padding-left: 47px;
    font-size: 20px;
    padding-right: 44px;
    font-weight: 400;
}
.subscribe:hover
{
    background-color: #00c7fc;
}

.clients .main_heading
{
    color: #fff;
    
}
.clients .second_heading
{
    color: #fff;
    text-align: center;
    width: 793px;
    margin-left: 207px;
    line-height: 1.2;
    font-size: 17px;
    text-transform: none;
    margin-bottom: 49px;
}
.clients
{
     margin-top: 69px;
    padding-top: 65px;
    background-color: #161f32;
    margin-bottom: 73px;
}
.company:nth-child(1)
{
    margin-top: 13px;
    margin-left: 59px;
}
.company:nth-child(2)
{
        MARGIN-LEFT: 90px;
    margin-bottom: 4px;
}
.company:nth-child(3)
{
        margin-left: 90px;
    margin-bottom: 14px;
    
}
.company:nth-child(4)
{
    margin-left: 61px;
    margin-bottom: 4px;
}
.company:nth-child(5)
{
        margin-left: 68px;
    margin-bottom: 10px;
}
.company:nth-child(6)

{
    margin-left: 82px;
}
.testimonial
{
  
    padding-top: 64px;
    padding-bottom: 67px;
    background-color: #fff;
    -moz-margin-bottom: -5px;
}
.testimonial .second_heading
{
        text-transform: none;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    margin-left: 212px;
    margin-top: 28px;
    line-height: 1.2;
    width: 831px;
    margin-bottom: 12px;
}
.testimonial span
{
        display: block;
    text-align: center;
    font-size: 21px;
    margin-top: 9px;
    color: #7f889b;
    font-weight: 400;
    
}
.contact_us
{

    padding-top: 56px;

   /*background-color: #161f32;*/
}
.contact_us .main_heading
{
    font-size: 34px;
    color: #fff;
}
.contact_us .second_heading
{
    color: #fff;
    margin-bottom: 22px;    
}
.contact_us .hmm
{
    margin-bottom: 53px;
}
.contact_us .line
{
    margin-left: 310px;
}
.navigation
{
    margin-left: 88px;
    width: 217px;
    display: inline-block;
    margin-right: 90px;
    margin-bottom: 56px;
}
.navigation img
{
    margin-left: 72px;
    margin-top: 1px;
    margin-bottom: 29px;
}
.heading_nav
{
        text-align: center;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: 400;
}
.adress
{
        color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

    

#main_form
{
    margin-left: 0;
    padding-top: 0;
}
#main_form input
{
    border: 1px solid #fff;
    background-color: #161f32;
    font-style: italic;
    color: #fff;
    margin-left: 11px;
    height: 63px;
    margin-right: 12px;
    width: 347px;
    padding-left: 23px;
    font-size:20px ;
    margin-bottom: 31px;
}
textarea
{
    margin-left: 10px;
    width: 1144px;
    height: 207px;
    border: 1px solid #fff;
    background-color: #161f32;
    resize: none;
    font-size: 20px;
    color: #fff;
    padding-left: 23px;
    padding-top: 19px;
    font-style: italic;
    margin-bottom: 12px;
}

#main_form .subscribe
{
    width: 236px;
    height: 74px;
    margin-left: 479px;
    padding-left: 43px;
    background-color: #fff;
}
#main_form .subscribe 
{
    color: #3d506f;
}
#main_form .subscribe:hover
{
    background-color: #00c7fc;
}
.footer
{
    text-align: center;
    margin-top: 24px;
    padding-bottom: 30px;
}
.copy
    
{
    font-weight: 200;
    color: #a6a8ac;
    font-size: 11px;
    margin-top: 18px;
}
::-webkit-input-placeholder {color:#fff;font-size: 20px;}
::-moz-placeholder          {color:#fff;font-size: 20px;}
:-moz-placeholder           {color:#fff;font-size: 20px;}
:-ms-input-placeholder {color:#fff;font-size: 20px;}
::-moz-placeholder, :-moz-placeholder {
    opacity: 1;